body {
	background-color: #c7c7c7;
}

nav {
	background-color: #e7e7e7;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: #3e3e3e;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #ddd;
	color: black;
}

h1 {
	color: white;
}
h4{
	margin: 0px;
	padding-bottom: 5px;
}

.chatbox {
	width: 500px;
	margin: 50px auto;
	border: 2px solid #4caf50;
	border-radius: 10px;
	overflow: hidden;
}

.header {
	background-color: #4caf50;
	padding: 20px;
	text-align: center;
}

.conversation {
	background-color: #fff;
	padding: 20px;
	height: 300px;
	overflow-y: scroll;
}

.messages {
	margin-bottom: 10px;
}

.input-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #4caf50;
	border-radius: 5px;
}

#user-input {
	width: 80%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

#send-button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}
p{
	margin: 0px;
	padding: 2px;
}